.faction {
    display: flex;
    text-align: left;
    width: 200px;
    margin: 0 auto;
    font-weight: bold;

}

.faction_race{
    width: 500px;
    display: flex;
    margin: 50px;
    margin: 0 auto;
    justify-content: space-around;
    padding-left: 1rem;
    align-items: flex-end;
}