.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;          
    background-image: url(https://i.pinimg.com/originals/c1/f5/ba/c1f5ba9fd4a8f6a0d7b7601429406b4a.jpg);
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.75);
}


.header_aliance{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 4px solid black;
    border-radius: 30%;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.75);
}

.header_horde{
    background-color: black;
    width: 200px;
    height: 200px;
    border: 4px solid hsl(0, 97%, 30%);
    border-radius: 30%;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.75);
}
